*{
    margin: 0;
    padding: 0;
   
}

.navbar{
    width: 95%;
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color:white;
}
.logo{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0% 20px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: black;  
    text-transform: uppercase;
}
.navbar li a::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #1F5C9D; 
    position: relative;
    left: 0%;
    bottom: -5px;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.navbar li a:hover::after{
    width: 100%;
}

h1{
    text-align: center;
    font-size: 90px;
    margin-top: 50px;
    font-family: 'Alice', serif;
    font-weight: normal;
}

h2{
    text-align: center;
    font-weight: 550;
    font-family: 'Alice', serif;
    margin-top: 50px;

}
.box{
    width: 75%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;

}
#img1{
    /* width: 490px;
    height: 460.33px;
    margin-top: 30px; */
    
    position: absolute;
    width: 400px;
    height: 337.33px;
    left: 220px;
    top: 489px;
    margin-left: 5%;
 }


.right{
    /* width: 50%;
    height: 300px;
    float: right;
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    margin-top: 140px; */
    position: absolute;
    width: 516px;
    height: 315px;
    left: 770px;
    top: 502px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-left: 5%;
    color: #000000;
}

.qn{
    color: black;
    height: 550px;
    width: 80%;
    margin-left: 10%;
    margin-top: 180px;
   
}

.qn h3{


    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;


}

.qn p{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;


}

#img2{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 10%;
    margin-top: 50px;
}

.buttomtext{
    position: absolute;
    width: 800px;
    height: 300px;
    margin-left: 40%;
    margin-top: 100px;

    background: #EFF4FE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 90px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    
    font-size: 30px;
    line-height: 36px;
}

.buttomtext h3{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-weight: 500;
}
.sign{
    width: 200px;
    margin-left: 50px;
}
.foot{
    margin-top: 100px;
    width: 100%;
    background-color: #F5F5F5;
    
}
.foot{
    width: 100%;
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 500px ;
}
.foot ul li{
    list-style: none;
    display: inline-block;
    margin: 0% 40px;
    position: relative;
    font-family: 'Inter', sans-serif; 
}
.foot ul li a{
    text-decoration: none;
    color: black;  
    text-transform: uppercase;
}
.icons{
    width: 500px;
    height: 120px;

    float: right;
    margin-right: 10px;
}

.social{
    text-align: center;
    margin: 10px;
    margin-top: -50px;
}
.social a{ 
    color: black;
    font-size: 50px;
    border-radius: 50%;
    padding: 15px; 
}
.fa-pinterest:hover {
    color: #BD081C;
}
.fa-twitter:hover {
    color: #00ACEE;
  }
.fa-facebook:hover {
    color: #3B5998;
  }
.fa-instagram:hover {
    color:  palevioletred;
}
.fa:hover {
    transform: scale(1.2); 
}

.navbar1{
    display: none
}
.logo1{
    display: none
}

@media (max-width: 900px) {
  .menu-items{
    display: none !important;
  }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .navbar1 {
      display: flex;
      justify-content: space-between;
    }
  
    .logo1 {
      display: flex;
      margin-top: 20px;
      order: 1; 
      margin-left: -20px;
    }
   hr
    .navbar {
      display: none;
    }
  
    .logo {
      display: none;
    }
  
    body {
      font-family: "Poppins", sans-serif;
    }
  
    .container {
      max-width: 1050px;
      width: 100%;
      margin: auto;
    }
  
    .navbar1 {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
  
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
  
    .navbar1 .menu-items {
      display: flex;
      justify-content: flex-end; /* Align menu items to the right */
    }
  
    .navbar1 .nav-container li {
      list-style: none;
    }
  
    .navbar1 .nav-container a {
      text-decoration: none;
      color: #0e2431;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
  
    .navbar1 .nav-container a:hover {
      font-weight: bolder;
    }
  
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
  
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      right: 20px; /* Change the position to the right side */
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 30px;
      right: 20px; /* Change the position to the right side */
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #0e2431;
    }
   .navbar{
    display: none;
   }
    .nav-container .hamburger-lines .line1 {
      transform-origin: 100% 0%; /* Change the transform-origin to the top right corner */
      transition: transform 0.4s ease-in-out;
    }
  
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .nav-container .hamburger-lines .line3 {
      transform-origin: 100% 100%; /* Change the transform-origin to the bottom right corner */
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar1 .menu-items {
      padding-top: 120px;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
      height: 100vh;
      width: 100%;
      transform: translateX(150%); /* Change the transform to move the menu from the right side */
      display: flex;
      flex-direction: column;
      margin-right: -40px; /* Change the margin to the left side */
      padding-right: 50px; /* Change the padding to the left side */
      transition: transform 0.5s ease-in-out;
      text-align: center;
      background-color: #EFF4FE;
    }
  
    .navbar1 .menu-items li {
      margin-top: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center; 
    }
    .logo1{
        width: 150px;
    }
    .logo1 {
      position: absolute;
      top: -35px;
      left:15px; /* Change the position to the left side */
      font-size: 1.2rem;
      color: #0e2431;
    }
  
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
      display: flex !important;
      justify-content: center;
      padding: 0px;
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(-45deg);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(45deg);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .logo {
      display: none;
    }
  }
  


  @media (max-width: 420px){
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 14px;
      margin-top: 30px;
    }
    #img1{
      position: absolute;
      width: 150px;
      height: 100px;
      left: 0px;
      top: 250px;
      margin-left: 5%;
      z-index: -1;
   }
   .right{
    left: 150px;
    font-size: 10px;  
    line-height: 10px;
    top: 250px;
    width: 226px;
    font-family: 'Noto Serif', serif;
    /* font-style: 600; */
    z-index: -1;
   }
   .qn{
    color: black;
    height: 550px;
    width: 80%;
    margin-left: 10%;
    margin-top: -70px; 
}
   .qn h3{
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
}
.qn p{
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
#img2{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 10%;
  margin-top: -100px;
}
.buttomtext{
  position: absolute;
  width: 200px;
  height: 100px;
  margin-left: 40%;
  margin-top: -100px;

  background: #EFF4FE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  
  font-size: 8px;
  line-height: 14px;
}
.foot{
  margin-top: 40px;
  width: 100%;
  background-color: #F5F5F5;
  
}
.sign{
  width: 100px;
  height: 100px;
  margin-left: 0px;
}
.foot ul li{
  list-style: none;
  display: inline-block;
  margin: 0% 0px;
  position: relative;
  font-family: 'Inter', sans-serif; 
}
.foot ul li a{
  text-decoration: none;
  color: black;  
  text-transform: uppercase;
  font-size: 6px;
}
.icons{
  width: 100px;
  height: 120px;

  float: right;
  margin-right: -100px;
}
.social a{ 
  color: black;
  font-size: 20px;
  border-radius: 50%;
  padding: 0px; 
}
#follow{
  margin-top: 80px;
}

  }
