*{
    margin: 0;
    padding: 0;
   
}

.navbar{
    width: 95%;
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color:white;
}
.none:hover {
    color: black;
    text-decoration: underline;
  }
.logo{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80%;      
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0% 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;  
    text-transform: uppercase;
}
.navbar li a::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #1F5C9D; 
    position: relative;
    left: 0%;
    bottom: -5px;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.navbar li a:hover::after{
    width: 100%;
}

h1{
    font-size: 60px;
    text-align: center;
    margin-top: 4%;
    font-family: 'Jomolhari', serif;
    font-weight: 400;
}
.Box{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 50px;
    margin-top:5%;
    margin-left:11%;
}
.box1,.box2,.box3,.box4{
    width: 498px;
    height: 683px;
    background: #EFF4FE;
    border-radius: 0px 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head{
    text-align: center;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    margin-top: 30px;
}
.box_txt{
    text-align: left;
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
.box2 h5{
    margin-top: 55%;  
}
.box1 h5{
    margin-top: 38%;
}
h5{
    text-align: left;
    margin-left: 20%;
    margin-top: 50%;
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
.none{
    text-decoration: none;
}


.sign{
    width: 200px;
    margin-left: 50px;
}
.foot{
    margin-top: 100px;
    width: 100%;
    background-color: #F5F5F5;
    
}
.foot{
    width: 100%;
    margin: 0%;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 70px ;
}
.foot ul li{
    list-style: none;
    display: inline-block;
    margin: 0% 40px;
    position: relative;
    font-family: 'Inter', sans-serif; 
}
.foot ul li a{
    text-decoration: none;
    color: black;  
    text-transform: uppercase;
}
.icons{
    width: 500px;
    height: 120px;
    float: right;
    margin-right: 10px;
}

.social{
    text-align: center;
    margin: 10px;
    padding-top: 20px;

}
.social a{ 
    color: black;
    font-size: 50px;
    border-radius: 50%;
    padding: 15px; 
}
.fa-pinterest:hover {
    color: #BD081C;
}
.fa-twitter:hover {
    color: #00ACEE;
  }
.fa-facebook:hover {
    color: #3B5998;
  }
.fa-instagram:hover {
    color:  palevioletred;
}
.fa:hover {
    transform: scale(1.2); 
}


.navbar1{
    display: none
}
.logo1{
    display: none
}
@media (max-width: 900px) {
  .menu-items{
    display: none !important;
  }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .navbar1 {
      display: flex;
      justify-content: space-between;
    }
  
    .logo1 {
      display: flex;
      margin-top: -20px;
      order: 1; /* Change the order to move the logo to the left */
    }
  
    .navbar {
      display: none;
    }
  
    .logo {
      display: none;
    }
  
    body {
      font-family: "Poppins", sans-serif;
    }
  
    .container {
      max-width: 1050px;
      width: 100%;
      margin: auto;
    }
  
    .navbar1 {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
  
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
  
    .navbar1 .menu-items {
      display: flex;
      justify-content: flex-end; /* Align menu items to the right */
    }
  
    .navbar1 .nav-container li {
      list-style: none;
    }
  
    .navbar1 .nav-container a {
      text-decoration: none;
      color: #0e2431;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
  
    .navbar1 .nav-container a:hover {
      font-weight: bolder;
    }
  
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
  
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      right: 20px; /* Change the position to the right side */
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 30px;
      right: 20px; /* Change the position to the right side */
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #0e2431;
    }
  
    .nav-container .hamburger-lines .line1 {
      transform-origin: 100% 0%; /* Change the transform-origin to the top right corner */
      transition: transform 0.4s ease-in-out;
    }
  
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .nav-container .hamburger-lines .line3 {
      transform-origin: 100% 100%; /* Change the transform-origin to the bottom right corner */
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar1 .menu-items {
      z-index: 999;
      padding-top: 120px;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
      height: 100vh;
      width: 100%;
      transform: translateX(150%); /* Change the transform to move the menu from the right side */
      display: flex;
      flex-direction: column;
      margin-right: -40px; /* Change the margin to the left side */
      padding-right: 50px; /* Change the padding to the left side */
      transition: transform 0.5s ease-in-out;
      text-align: center;
      background-color: #EFF4FE;
    }
  
    .navbar1 .menu-items li {
      margin-top: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center; 
    }
    .logo1{
        width: 150px;
    }
    .logo1 {
      position: absolute;
      top: 5px;
      left: 15px; /* Change the position to the left side */
      font-size: 1.2rem;
      color: #0e2431;
    }
  
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
      display: flex !important;
      justify-content: center;
      padding: 0px;
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(-45deg);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(45deg);
    }
  
    .nav-container input[type="checkbox"]:checked ~ .logo {
      display: none;
    }
  }
  
  @media (max-width: 420px) {
    h1{
        font-size: 40px;
        margin-top: 40px;
    }
    .Box{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 0px;
      row-gap: 50px;
      margin-top:5%;
      margin-left:2%;
  }
    .box1,.box2,.box3,.box4{
      width: 180px;
      height: 240px;
      background: #EFF4FE;
      border-radius: 0px 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .head{
    text-align: center;
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 46px;
    margin-top: 10px;
}
  .box_txt{
    text-align: left;
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.box2 h5{
  margin-top: 35%;  
}
.box1 h5{
  margin-top: 10%;
}
h5{
  text-align: left;
  margin-left: 20%;
  margin-top: 10%;
  font-family: 'Jomolhari';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 38px;
  color: #000000;
}
.foot{
  margin-top: 20px;
  width: 100%;
  background-color: #F5F5F5;
  
}
.sign{
  width: 100px;
  height: 100px;
  margin-left: 0px;
}
.foot ul li{
  list-style: none;
  display: inline-block;
  margin: 0% 0px;
  position: relative;
  font-family: 'Inter', sans-serif; 
}
.foot ul li a{
  text-decoration: none;
  color: black;  
  text-transform: uppercase;
  font-size: 6px;
}
.icons{
  width: 100px;
  height: 120px;

  float: right;
  margin-right: -100px;
}
.social a{ 
  color: black;
  font-size: 20px;
  border-radius: 50%;
  padding: 0px; 
}
#follow{
  margin-top: 10px;
  font-size: 10px
}
  }